<head>
    {{>head}}
</head>
{{>header}}
<div class="container mt-3">
  <h1>Couriers</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each couriers}}
      <tr>
        <td>{{this.idclient}}</td>
        <td>{{this.fullname}}</td>
        <td>{{this.city}}</td>
        <td>
          <a href="/clients/edit/{{this.idclient}}" class="btn btn-primary">Edit</a>
          <a href="/clients/delete/{{this.idclient}}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/clients/create" class="btn btn-success">Add new client</a>
</div>
